<div class="container">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ranking das bandas</h3>
    </div>
    <div class="panel-body">
      <p>O ultimo voto foi de  {{ lastUserVotes.name }} e-mail {{ lastUserVotes.email }} para as bandas:</p>
      <ul ng-repeat="lubands in lastUserVotes.bands">
        <li>{{band.name}}</li>
      </ul>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>Colocação</th>
        <th>Banda</th>
        <th>Total de Votos</th>
      </thead>
      <tbody>
        <tr ng-repeat="band in bands | orderBy : 'votes'">
          <td>{{ $index + 1 }}</td>
          <td>{{band.name}}</td>
          <td>{{band.votes}}</td>
        </tr>
      </tbody>
    </table>
</div>
